

body{
    background-color: #B6EADA;
}

h1{
color: #5B8FB9;
}
h3{

    color: #301E67;
}

hr{
    border-style: none;
    border-top-style:dotted ;
    border-color: gray;
    width: 5%;
    border-width: 5px;
    
    
     }

.football img{
    width: 300px;
    height: auto;
}  

.SkillTable td,th{
    border:1px solid black;
}
#LastChange{

    color: #03001C;
}
hr{
    color: blue;
    size: 3px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color:#5B8FB9;
    color: white;
  }


.table{
    border-spacing: 30px;
    padding: 20px;
}
img{
    padding: 20px;
}


.navbar{
    padding: 0;
    margin:0;

    background-color: #5B8FB9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
  
   
}




.Rightnav{
   
    width: 30%;
    text-align: right;
    
    
}

/* list */
.list-nav{
    width: 70%;
   
    display: flex;
    align-items: center;


}

.list-nav li{
    list-style-type:none;
    padding: 21px 29px;
    text-decoration: none;
}
.list-nav li a{
    text-decoration: none;
    color: #03001C ;
    font-size: 20px;
    font-family:'Ubuntu',sans-serif ;
    
}
.list-nav li a:hover{
    color: white;
}